# Necessary for Windows
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Select which docker-compose files to include. Append more with `:docker-compose.prod.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
COMPOSE_PROJECT_NAME=web-redirector

# Timezone
TIMEZONE=UTC

# Image Details
DOCKER_IMAGE_NAME=docker.io/ahabid/web-redirector

# Image Patch Number
PATCH_NUMBER=1.0
